.thanks-form__content {
  margin:300px  auto 0;
  padding: 30px 15px;
  max-width: 1230px;
}

.thanks-form__heading{
  margin-bottom: 40px;
  text-align: center;
}

.thanks-form__heading p{
  font-size: larger;

}

.form__button{
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: larger;
}


